/* Import font */
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap');


/* Reset margin and padding */

* {
    margin: 0;
    padding: 0;
}

/* Common styles */

body {
    background-color: #dfe1e6;
    font-family: Nunito;
    text-align: center;
}

h1, h2, h3, p, a {
    margin: 1rem 0;
}

/* Element styles */

section, section>div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


a {
    display: block;
    color: black;
}

img {
    height: auto;
    width: 90%;
    margin: 0 auto;
}
/* Header section style */

header {
    width: 80%;
    height: 30vh;
    margin: 0 auto;
}

/* Mission section styles */

#mission {
    background-image: url('../images/background1.jpeg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 70vh;
    
}

#mission>div {
    width: 100%;
    height: 30%;
    background-color:#dfe1e6;
    padding: 0.5rem;
    line-height: 1;
}

/* Portfolio section styles */

#portfolio {
    width: 90%;
    margin: 0 auto;
}


/* Team section styles */

#team>div{
    background-image: url('../images/background2.jpeg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    padding: 1rem;
}

/* Footer section styles */

footer {
    margin-bottom: 1rem;
}

/* Media */

@media only screen and (min-width:600px){
    
    #portfolio>div, #team>div {
        flex-direction: row;
        flex-wrap: wrap;
    }
    
    nav>div {
        display: flex;
        justify-content: space-evenly;
    }
    div>div {
        width: 40%;
    }
}

@media only screen and (min-width:900px){
    div>div {
        width: 30%;
    }
    
}